<app-navbar></app-navbar>
<div class="change">
  <p>Insert new password</p>
  <input
    [(ngModel)]="userData.password"
    type="password"
    class="form-control"
    name="password"
    required
  />
  <br />
  <p>Repeat new password</p>
  <input
    [(ngModel)]="userData.repPassword"
    type="Password"
    class="form-control"
    name="repeatedpassword"
    required
  />
  <br />
  <button class="btn btn-success" (click)="changePassword()">OK</button>
  <button id="cancel" class="btn btn-danger" (click)="cancel()">Cancel</button>

  <p *ngIf="error">
    <ngb-alert type="warning">{{ error }}</ngb-alert>
  </p>
  <p *ngIf="success">
    <ngb-alert type="success">{{ success }}</ngb-alert>
  </p>
</div>
