.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

button {
  margin-top: 3vh;
  text-align: center;
  width: 10%;
}

input {
  margin-top: 1vh;
  text-align: center;
  width: 40%;
}

p {
  margin-top: 3%;
  text-align: center;
}
