<div class="info">
  <p>
    Insert the email you registered with and we will send you a new password
  </p>
  <input
    [(ngModel)]="email"
    placeholder="Email"
    class="form-control"
    name="email"
    required
  />

  <br />
  <button (click)="reset()" class="btn btn-success">Reset Password</button>
  <p *ngIf="success">
    <ngb-alert type="success">{{ success }}</ngb-alert>
  </p>
  <p *ngIf="error">
    <ngb-alert type="warning">{{ error }}</ngb-alert>
  </p>
  <p>
    Go back to? <a routerLink="/login" routerLinkActive="is-selected">Login</a>
  </p>
</div>
