<app-navbar></app-navbar>
<div class="flex-container">
  <div class="flex-horizontal">
    <button [disableRipple]="true" mat-icon-button (click)="goKills()">
      <mat-icon class="icon">arrow_left</mat-icon>
    </button>
    <h2 class="title">Highest Round Reached</h2>
    <button [disableRipple]="true" mat-icon-button (click)="goMulti()">
      <mat-icon class="icon">arrow_right</mat-icon>
    </button>
  </div>

  <br /><br />
  <div class="input-group input-group-sm mb-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Username</th>
          <th scope="col">Round Reached</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let highest of highestRounds; index as i">
          <td>{{ i + 1 }}</td>
          <td>
            <a routerLink="/profile/{{ highest.id }}">{{ highest.username }}</a>
          </td>
          <td>{{ highest.rounds }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
